.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
}

.sign_headerImg {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_text {
  text-align: center;
  margin-bottom: 13px;
  font-size: 15px;
}

.signup_click_link:hover {
  text-decoration: underline;
  cursor: pointer;
}