.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}

.header_logout_buttons {
  width: 172px;
  display: flex;
  justify-content: space-between;
}

.header_signin_buttons {
  width: 165px;
  display: flex;
  justify-content: space-between;
}