.post {
  background-color: white;
  max-width: 700px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 0 20px;
  margin-bottom: 45px;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.post_header>h3 {
  padding-left: 7px;
}

.post_avatar {
  margin-right: 10px;
}

.post_comment_box {
  display: flex;
  margin: 10px;
}

.comment_input {
  flex: 1;
  margin-right: 10px;
}

.post_comments {
  margin: 0 10px;
  margin-bottom: 8px;
  /* padding: 20px; */
}